<a href="https://colab.research.google.com/github/Carla-if/Probabilidad/blob/main/Unidad%202/Probabilidad_U2_Programa1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **EJEMPLO 1. Nombres de Personas**

In [1]:
import math as mt # Para utilizar factorial
from itertools import combinations
from itertools import combinations_with_replacement
import numpy as np

In [2]:
nombres = ["Oscar", "Paco", "Paty", "Laura", "Ruben", "Luis", "Lucy", "Alberto", "Juan", "Danny"]
n = len(nombres)
r= 2 # ¿Como agrupar?

Cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n-r))

print("Existen", Cn, " posibles combinaciones sin repeticion del total de ", n ," nombres ", " en grupos de ", r, " en ", r)
print("Aqui las combinaiones")
combinaciones_nombres = list(combinations(nombres, r))

# Imprime las combinaciones
for combinaciones in combinaciones_nombres:
    print(combinaciones)

Existen 45.0  posibles combinaciones sin repeticion del total de  10  nombres   en grupos de  2  en  2
Aqui las combinaiones
('Oscar', 'Paco')
('Oscar', 'Paty')
('Oscar', 'Laura')
('Oscar', 'Ruben')
('Oscar', 'Luis')
('Oscar', 'Lucy')
('Oscar', 'Alberto')
('Oscar', 'Juan')
('Oscar', 'Danny')
('Paco', 'Paty')
('Paco', 'Laura')
('Paco', 'Ruben')
('Paco', 'Luis')
('Paco', 'Lucy')
('Paco', 'Alberto')
('Paco', 'Juan')
('Paco', 'Danny')
('Paty', 'Laura')
('Paty', 'Ruben')
('Paty', 'Luis')
('Paty', 'Lucy')
('Paty', 'Alberto')
('Paty', 'Juan')
('Paty', 'Danny')
('Laura', 'Ruben')
('Laura', 'Luis')
('Laura', 'Lucy')
('Laura', 'Alberto')
('Laura', 'Juan')
('Laura', 'Danny')
('Ruben', 'Luis')
('Ruben', 'Lucy')
('Ruben', 'Alberto')
('Ruben', 'Juan')
('Ruben', 'Danny')
('Luis', 'Lucy')
('Luis', 'Alberto')
('Luis', 'Juan')
('Luis', 'Danny')
('Lucy', 'Alberto')
('Lucy', 'Juan')
('Lucy', 'Danny')
('Alberto', 'Juan')
('Alberto', 'Danny')
('Juan', 'Danny')

### **EJemplo 2. Caracteres alfabéticos y díitos**

In [3]:
caracteres = ["A", "B", "C", "D", "E", "F", "0", "1", "2", "3", "4", "5"]
n = len(caracteres)
r = 10 # ¿como agrupar?

Cn = mt.factorial(n) / (mt.factorial(r) * mt.factorial(n-r))

print("Existen", Cn, " posibles combinaciones sin repeticion del total de ", n ," caracteres ", " en grupos de ", r, " en ", r)
print("Aqui las combinaiones")
combinaciones_caracteres = list(combinations(caracteres, r))

# Imprime las combinaciones
for combinaciones in combinaciones_caracteres:
    print(combinaciones)

Existen 66.0  posibles combinaciones sin repeticion del total de  12  caracteres   en grupos de  10  en  10
Aqui las combinaiones
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '3')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '2', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '1', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '0', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', 'F', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'E', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'D', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'D', '0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'C', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'E', '0', '1', '2', '3', '4', '5')
('A', 'B', 'C', 'F', '0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'B', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'E', '0', '1', '2', '3', '4', '5')
('A', 'B', 'D', 'F', '0', '1', '2', '3', '4', '5')
('A', 'B', 'E', 'F', '0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('A', 'C', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'E', '0', '1', '2', '3', '4', '5')
('A', 'C', 'D', 'F', '0', '1', '2', '3', '4', '5')
('A', 'C', 'E', 'F', '0', '1', '2', '3', '4', '5')
('A', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '4')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '3', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '2', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '1', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '0', '2', '3', '4', '5')
('B', 'C', 'D', 'E', 'F', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'E', '0', '1', '2', '3', '4', '5')
('B', 'C', 'D', 'F', '0', '1', '2', '3', '4', '5')
('B', 'C', 'E', 'F', '0', '1', '2', '3', '4', '5')
('B', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')
('C', 'D', 'E', 'F', '0', '1', '2', '3', '4', '5')

### **Ejemplo 3. Combinaciones con repetición**

In [4]:
dado = [1, 2, 3, 4, 5, 6]
n = len(dado)
r = 2 # ¿cómo agruar?, de dos en dos porque hay dos dados

CnR = mt.factorial(n+r-1) / (mt.factorial(r) * mt.factorial(n+r-1)-r)

print("Existen", CnR, " posibles combinaciones con repeticion del total de ", n ," caracteres ", " en grupos de ", r, " en ", r)
print("Aqui las combinaiones")

# Definir el conjunto de elementos
elementos = [1, 2, 3, 4, 5, 6]

#Numero de elementos a elegir en cada combinacion
r=2

# Calcular las combinaciones on repetición
combinaciones_dados = list(combinations_with_replacement(dado, r))

# Imprimir las combinaciones
for combinacion in combinaciones_dados:
    print(combinacion)

Existen 0.500099226036912  posibles combinaciones con repeticion del total de  6  caracteres   en grupos de  2  en  2
Aqui las combinaiones
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(1, 5)
(1, 6)
(2, 2)
(2, 3)
(2, 4)
(2, 5)
(2, 6)
(3, 3)
(3, 4)
(3, 5)
(3, 6)
(4, 4)
(4, 5)
(4, 6)
(5, 5)
(5, 6)
(6, 6)